@model IEnumerable<jan31practice.Models.Class1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEndDate)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEndDate)
        </td>
       
    </tr>
}

</table>
